####################################
# Java / Maven
####################################
target/
*.class
*.log

####################################
# .NET
####################################
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

####################################
# IDEs
####################################
.idea/
.vscode/
*.iml

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# AWS / Secrets
####################################
.env
.env.*
aws-credentials

